{:deps      {org.clojure/tools.logging {:mvn/version "1.1.0"}
             org.clojure/clojure       {:mvn/version "1.11.0"}}

 :paths     ["src"]

 :aliases   {:test    {:extra-paths ["test"]
                       :extra-deps  {ivarref/datomic-schema                    {:mvn/version "0.2.0"}
                                     com.taoensso/timbre                       {:mvn/version "5.1.2"}
                                     com.fzakaria/slf4j-timbre                 {:mvn/version "0.3.21"}
                                     clojure-term-colors/clojure-term-colors   {:mvn/version "0.1.0"}
                                     com.datomic/peer                          {:mvn/version "1.0.7075"}
                                     com.github.sikt-no/datomic-testcontainers {:mvn/version "1.0.7075.14"}
                                     io.rkn/conformity                         {:mvn/version "0.5.4"}
                                     vvvvalvalval/scope-capture                {:mvn/version "0.3.2"}
                                     com.cognitect/test-runner                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                                :sha     "9e35c979860c75555adaff7600070c60004a0f44"
                                                                                :tag     "v0.2.1"}
                                     rewrite-clj/rewrite-clj                   {:mvn/version "0.6.1"}}
                       :jvm-opts    ["-DDISABLE_SPY=true"
                                     "-DTAOENSSO_TIMBRE_MIN_LEVEL_EDN=:warn"]
                       :main-opts   ["--report" "stderr" "-m" "cognitect.test-runner"]}

             :jar     {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                     :sha     "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                       :main-opts  ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/out.jar"]}

             :release {:extra-deps {ivarref/pom-patch {:mvn/version "0.1.16"}}}

             :deploy  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                       :exec-fn    deps-deploy.deps-deploy/deploy
                       :exec-args  {:installer      :remote
                                    :sign-releases? false
                                    :artifact       "target/out.jar"}}}}
