{:deps      {}

 :paths     ["src"]

 :aliases   {:test {:extra-paths ["test"]
                    :extra-deps  {lambdaisland/kaocha                  {:mvn/version "1.0.732"}
                                  no.nsd/envelope                      {:mvn/version "0.2.4"}
                                  com.datomic/datomic-pro              {:mvn/version "1.0.6202" :exclusions [org.slf4j/slf4j-nop]}
                                  org.mariadb.jdbc/mariadb-java-client {:mvn/version "2.4.3"}
                                  io.rkn/conformity                    {:mvn/version "0.5.4"}
                                  ivarref/datomic-schema               {:mvn/version "0.2.0"}
                                  vvvvalvalval/scope-capture           {:mvn/version "0.3.2"}}
                    :jvm-opts    ["-DDISABLE_SPY=true"]
                    :main-opts   ["--report" "stderr" "-m" "kaocha.runner" "--no-capture-output"]}}

 :mvn/repos {"central"       {:url "https://nexus.nsd.no/repository/nsd-maven-public/"}
             "clojars"       {:url "https://nexus.nsd.no/repository/nsd-maven-public/"}
             "nsd-maven-all" {:url "https://nexus.nsd.no/repository/nsd-maven-all/"}}}
